/* Variables */
:root {
    --black: #0f0e0f;
    --white: #FAF9F9;
    --whitecast: #faf9f998; 
    --brand-color: #7D3D3D;
    --lightb-color:#DEABAB;
    --accent-color:#896DA7;
    --shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    --user-card-background: #312E2E26;
}

@font-face {
    font-family: BebasNeue;
    src: url(/assets/fonts/BebasNeue/BebasNeue-Regular.otf);
}

@font-face {
    font-family: BebasNeueBold;
    src: url(/assets/fonts/BebasNeue/BebasNeue-Bold.otf);
}
/* Variables */



/* CSS-reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS-reset */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: BebasNeue,  Arial, Helvetica, sans-serif;
}

h1 {
    font-family: BebasNeue,  Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: var(--brand-color);
    font-size: 48px;
    line-height: 1;
}

h2 {
    font-family: BebasNeue,  Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.067;
}

h3 {
    font-family: BebasNeue,  Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.083;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height: 1.5;
}

a {
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.userCard {
    background-color: var(--user-card-background);
    width: 473px;
    height: 214px;
    border-radius: 15px; /* Kan ej tyda radius px i Figman, bekräfta med gruppen */
    box-shadow: var(--shadow);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px;
    padding: 15px;
}

.userVisual {
    grid-row: 1;
    grid-column: 1;
    margin: 10px;
}

.userImg-container {
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 61px;
    height: 61px;
}
.userName {
    margin-top: 5px;
}

.onClickInfo {
    grid-row: 1;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.buttonContainer {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}
.cardButton {
    height: 19px;
    width: 50px;
    background-color: var(--brand-color);
    border: none;
    color: var(--white);
    margin: 2px;
}
.userInfo {
    grid-row: 2;
    grid-column: 1;
    background-color: var(--brand-color);
    color: var(--white);
    padding: 10px;
}

/* Mobile CSS */
@media only screen and (max-width: 480px) {

    h1 {
        font-size: 30px;
        line-height: 1.067;
    }
    
    h2 {
        font-size: 24px;
        line-height: 1.083;
    }
    
    h3 {
        font-size: 20px;
        line-height: 1.5;
    }
    
    p {
        font-size:16px;
        line-height: 1.6;
    }


.userCard{
    display: flex;
}

.userCard {
    background-color: var(--user-card-background);
    width: 90%;
    height: 90px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px;
    padding: 15px;
}
.userImg-container {
    display: none;
    /* removing user image / profile picture in mobile mode */
}

.userVisual {
    display: flex;
    align-items: flex-end;
}
/* / Mobile CSS */
}
